@media only screen and (min-width: 320px) and (max-width: 320px) {
    .custom-circletoggle {
        padding: 0;
    }
    .price-toggle-field {
        width: 100%;
    }
    .show-annually {
        font-size: 0.8rem;
    }
    .show-monthly {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 576px) {
    /* x-small <= 576px */
    .header {
        padding: 1.2rem;
        width: 100%;
    }
    .custom-nav-item {
        height: 100%;
        padding: 1.5rem 0rem;
        margin: 0;
    }
    .price-toggle-field {
        width: 80%;
    }
}

@media only screen and (min-width: 576px) {
    /* small >= 576px */
    .header {
        padding: 1.2rem;
        width: 100%;
    }
    .custom-nav-item {
        height: 100%;
        padding: 1.5rem 0rem;
        margin: 0;
    }
    .price-toggle-field {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    /* medium >= 768px */
    .header {
        padding: 1.2rem;
        width: 100%;
    }
    .price-toggle-field {
        width: 45%;
    }
}

@media only screen and (min-width: 992px) {
    /* Large >= 992px */
    .header {
        padding: 0;
        width: 80%;
    }
    .custom-nav-item {
        height: 100%;
        padding: 1.5rem 0rem;
        margin: 0;
    }
    .price-toggle-field {
        width: 24%;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        padding: 0;
        width: 80%;
    }
    .custom-nav-item {
        height: 100%;
        padding: 1.5rem 0rem;
        margin: 0;
    }
    .price-toggle-field {
        width: 35%;
    }
}

@media only screen and (min-width: 1200px) {
    /* X-large >= 1200px */
    .header {
        padding: 0;
        width: 80%;
    }
    .custom-nav-item {
        height: 100%;
        padding: 1.5rem 0rem;
        margin: 0;
    }
    .price-toggle-field {
        width: 30%;
    }
}

@media only screen and (min-width: 1400px) {
    /* XX-Large >= 1400px */
    .header {
        padding: 0;
        width: 80%;
    }
    .custom-nav-item {
        height: 100%;
        padding: 1.5rem 0rem;
        margin: 0;
    }
    .price-toggle-field {
        width: 24%;
    }
}